@model ProductViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <h2>@(Model.Name)</h2>
</div>

<div class="container col-lg-10 col-lg-offset-1">
    @if (User.IsInRole("Клиент"))
    {
        @Html.Partial("Order", new OrderViewModel { ProductId = Model.Id.Value });
    }
    <div class="form-group">
        <img src="@Url.Content(Model.Image)" alt="@Model.Name" class="col-lg-12" />
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">Состав</label>
        <div class="col-xs-10">
            <p>@Model.Composition</p>
        </div>
    </div>
    <div class="form-group">
        <a asp-controller="Products" asp-action="List" asp-route-categoryId="@ViewContext.RouteData.Values["categoryId"]" class="btn btn-default col-xs-offset-5">Назад</a>
    </div>
</div>