@model IEnumerable<OrderViewModel>
@{
    ViewData["Title"] = "История заказов";
}

<div class="text-center">
    <h2>История заказов</h2>
</div>

<div class="container orders">
    <table id="orders" class="col-lg-12 table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                @if (User.IsInRole("Сотрудник") && !ViewContext.RouteData.Values.ContainsKey("client"))
                {
                    <th>Клиент</th>
                }
                <th>Продукт</th>
                <th>Количество</th>
                <th>Дата</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                @if (User.IsInRole("Сотрудник") && !ViewContext.RouteData.Values.ContainsKey("client"))
                {
                    <th>Клиент</th>
                }
                <th>Продукт</th>
                <th>Количество</th>
                <th>Дата</th>
                <th>Статус</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    @if (User.IsInRole("Сотрудник") && !ViewContext.RouteData.Values.ContainsKey("client"))
                {
                        <td><a asp-controller="Orders" asp-action="List" asp-route-client="@order.Client.UserName">@order.Client.Name</a></td>
                    }
                    <td><a asp-controller="Products" asp-action="Get" asp-route-categoryId="@order.Product.CategoryId" asp-route-id="@order.ProductId">@order.Product.Name</a></td>
                    <td>@order.Count</td>
                    <td>@order.Created</td>
                    @if (User.IsInRole("Клиент"))
                    {
                        <td>@(order.Confirmed.HasValue ? order.Confirmed.Value ? "Подтвержден" : "Отклонен" : "В обработке")</td>
                    }
                    else if (User.IsInRole("Сотрудник"))
                    {
                        <td>
                            @if (order.Confirmed.HasValue)
                    {
                                @(order.Confirmed.Value ? "Подтвержден" : "Отклонен");
                            }
                            else
                            {
                                @Html.Partial("Manage", order)
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#orders').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "Нет данных для отображения",
                    "info": "Показано с _START_ по _END_ из _TOTAL_ записей",
                    "infoEmpty": "Нет записей для отображения",
                    "infoFiltered": "(отфильтровано из _MAX_ записей)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Показаны _MENU_ записи",
                    "loadingRecords": "Загрузка...",
                    "processing": "Обработка...",
                    "search": "Поиск:",
                    "zeroRecords": "Не найдено подходящих записей",
                    "paginate": {
                        "first": "Первая",
                        "last": "Последняя",
                        "next": "Следующая",
                        "previous": "Предыдущая"
                    },
                    "aria": {
                        "sortAscending": ": сортировка по возврастанию",
                        "sortDescending": ": сортировка по убыванию"
                    }
                }
            });

            $("#orders button.confirm").click(function () {
                $(this).parents("form").children("input[name=Confirmed]").val(true);
            });

            $("#orders button.decline").click(function () {
                $(this).parents("form").children("input[name=Confirmed]").val(false);
            })
        });
    </script>
}