@model IEnumerable<WarehouseReportViewModel>
@{
    ViewData["Title"] = "Отчет по складу";
}

<div class="text-center">
    <h2>Отчет по продукту</h2>
</div>

<ul class="nav nav-tabs">
    <li><a asp-controller="Reports" asp-action="Product">По продукту</a></li>
    <li><a asp-controller="Reports" asp-action="Client">По клиенту</a></li>
    <li class="active"><a href="#">Наличие на складе</a></li>
</ul>
<div class="container reports">
    <div>
        <form asp-controller="Reports" asp-action="Warehouse" method="get" class="form-horizontal filter">
            <div class="form-goup col-md-3">
                <select class="form-control" name="CategoryId">
                    <option value="">Все категории</option>
                    @foreach (var category in ((ApplicationDbContext)Context.RequestServices.GetService(typeof(ApplicationDbContext))).Set<Category>().OrderBy(x => x.Name))
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>

            <a class="pull-right" href="@($"{Context.Request.Path.Value.Replace("/Warehouse", "/WarehouseDownload")}{Context.Request.QueryString.Value}")" target="_blank"><img src="~/images/save.png" alt="Сохранить" /></a>
            <a class="pull-right" href="#" onclick="javascript:window.print()"><img src="~/images/print.png" alt="Печать" /></a>
            <button type="submit" class="btn btn-default">Сформировать</button>
        </form>
        <div class="clearfix"></div>
    </div>
    <hr />
    <div class="data">
        <table id="warehouse" class="col-lg-12 table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th>Продукт</th>
                    <th>Категория</th>
                    <th>Количество</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Продукт</th>
                    <th>Категория</th>
                    <th>Количество</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Category</td>
                            <td>@item.Count</td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#warehouse').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "Нет данных для отображения",
                    "info": "Показано с _START_ по _END_ из _TOTAL_ записей",
                    "infoEmpty": "Нет записей для отображения",
                    "infoFiltered": "(отфильтровано из _MAX_ записей)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Показаны _MENU_ записи",
                    "loadingRecords": "Загрузка...",
                    "processing": "Обработка...",
                    "search": "Поиск:",
                    "zeroRecords": "Не найдено подходящих записей",
                    "paginate": {
                        "first": "Первая",
                        "last": "Последняя",
                        "next": "Следующая",
                        "previous": "Предыдущая"
                    },
                    "aria": {
                        "sortAscending": ": сортировка по возврастанию",
                        "sortDescending": ": сортировка по убыванию"
                    }
                }
            });

            var query = getUrlParams();
            $("form.filter select").val(query["CategoryId"] || $("form.filter select option:first").val());
        });
    </script>
}